<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{Bonjour}}</h1>
    <form method="post">
      {{form.hidden_tag()}} {{form.titre.label}} {{form.titre}}
      {{form.realisateur.label}} {{form.realisateur}}
      {{form.annee_sortie.label}} {{form.annee_sortie}} {{form.genre.label}}
      {{form.genre}} {{form.submit}}
    </form>
  </body>
</html>
